body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.chicken_adobo, .sinigang, .tinola {
    max-width: 300px;
}

img {
    display: block;
}